header {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
}

header a {
  color: blue;
  text-decoration: none;
}

header a.active {
  text-decoration: underline;
}

.router-outlet {
  min-height: 70vh;
}

footer {
  background-color: green;
  color: white;
  padding: 0.5em 1em;
}

header nav {
  display: flex;
  gap: 1em;
}
